.selector {
    left: 0;
    right: 0;
    z-index: 1000000; /* or even higher to prevent guarantee overlapping */
    background: white;
    padding: 0;
    margin: 0;
}

.selector-inner {
    max-width: 60vh; /* just for example */
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.selector-list {
    text-align: left;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    border-spacing: 0;
}

.selector-list > tbody > tr {
    padding: 0;
}

.selector-list > tbody > tr > td {
    padding: 0;
    margin: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ddd;
}

.selector-list > tbody > tr:hover {
    background-color: #eee;
}

.selector-logo {
    padding: 0;
    font-size: 6vh;
    margin: 2px;
    border-radius: 1.2vh;
}

.selector-title {
    margin: 0;
    padding: 0 0 0 0.5vh;
}

.selector-dummy {
    /* moves stations list below player header */
    /* +1px is because of border */
    height: calc(18.5vh + 1px);
}