.player {
    max-width: var(--rbx-max-width);
    width: 100vw;
    top: 0;
    position: fixed;
    background: white;
    padding: 0;
    margin: 0 auto;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.player-icon{
    margin: 0;
    flex: 0;
    min-height: var(--rbx-icon-size);
    max-height: var(--rbx-icon-size);
    max-width: var(--rbx-icon-size);
    min-width: var(--rbx-icon-size);
}

.player-icon > img {
    padding: 0.5vh;
    width: calc(100% - 1vh);
    height: calc(100% - 1vh);
    border-radius: 2.5vh;
}

.player-title-box {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    max-height: var(--rbx-icon-size);
}

.player-title {
    flex: 0;
    text-align: left;
    padding: 0.5vh 0 0 1.5vh;
}

.player-title-small {
    font-size: calc(0.85 * var(--rbx-font-size)) !important;
}

.player-title-smaller {
    font-size: calc(0.7 * var(--rbx-font-size)) !important;
}

.player-title > b {
    font-weight: 400;
}

.player-button-set {
    display: table;
    min-width: 100%;
    min-height: var(--rbx-buttons-height);
    max-height: var(--rbx-buttons-height);
}

.player-button-set > a {
    display: table-cell;
    vertical-align: middle;
}

.player-button-set > a:hover {
    color: #444;
}

.player-btn {
    padding: 0;
    font-size: calc(2vh + var(--rbx-font-size));
}

.player-btn-play {
    margin: 0;
    padding: 0 1vh;
    font-size: calc(5vh + var(--rbx-font-size));
}

.player-volume {
    min-height: var(--rbx-volume-height);
    max-height: var(--rbx-volume-height);
    min-width: 100%;
}
