.player {
    left: 0;
    right: 0;
    z-index: 1000000; /* or even higher to prevent guarantee overlapping */
    background: white;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #ccc;
}

.player-volume {
    height: 3px;
}

.player-inner {
    max-width: 60vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.player-btn-set {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.player-btn-set > a {
    display: inline;
    vertical-align: middle;
}

.player-btn-set > a:hover {
    color: #444;
}

.player-btn-volume {
    margin: 0 3vw;
    padding: 0;
    font-size: 6vh;
}

.player-btn-play {
    margin: 0;
    padding: 0;
    font-size: 8vh;
}

.player-title-container {
    display: inline-block;
    overflow: scroll;
}

.player-title {
    display: table;
    max-height: 8vh;
    min-height: 8vh;
}

.player-title p {
    max-width: 60vh;
    width: 100vw;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
