@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

html,
body,
:global(#root) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3vh;
    color: #000;
    background: #fff;
    margin: 0;
    cursor: default;
    text-align: center;
}
