@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

:root{
    --rbx-max-width: 60vh;
    --rbx-icon-size: 20vh;
    --rbx-volume-height: 3px;
    --rbx-font-size: 4vh;
    --rbx-buttons-height: 12vh;
    --rbx-player-height: calc(var(--rbx-icon-size) + var(--rbx-volume-height) + var(--rbx-buttons-height))
}

html,
body,
:global(#root) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--rbx-font-size);
    font-weight: 300;
    color: #383838;
    background: #fff;
    margin: 0;
    cursor: default;
    text-align: center;
}
